@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}



@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-Bold.woff2') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-BoldItalic.woff2') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}


:root {
  /* Colors */
  --white: #ffffff;
  --dark-gray: #424242;
  --dark-green: #066d3b;
  --light-green: #289b5b;
  --active-green: #23b364;
  /* Typography */
  --font: 'Poppins', sans-serif;
}

body {
  @apply font-[var(--mainfont)]  text-[var(--dark-gray)]  bg-[var(--white)];
  @apply flex flex-col min-h-screen;

  &.no-scroll{
    @apply overflow-hidden h-screen;
  }

  section{
    @apply max-w-7xl mx-auto px-4;
  }
}