@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}



@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-Bold.woff2') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-BoldItalic.woff2') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}


:root {
  /* Colors */
  --white: #ffffff;
  --dark-gray: #424242;
  --light-gray: #f7f7f7;
  --dark-green: #066d3b;
  --light-green: #289b5b;
  --active-green: #23b364;
  --yellow: #ffcf41;
  --active-yellow: #ffd75f;
  --light-blue: #d8e7ef;
  /* Typography */
  --font: 'Poppins', sans-serif;
}

body {
  @apply font-[var(--mainfont)]  text-[var(--dark-gray)]  bg-[var(--white)];
  @apply flex flex-col min-h-screen;

  &.no-scroll{
    @apply overflow-hidden h-screen;
  }


  main.main-content{
    @apply pt-[137px] md:pt-0;
  }

  h1{
    @apply w-full;
    @apply text-2xl sm:text-4xl font-bold text-gray-900 mb-10 text-center;


    &:after {
      @apply content-[''] block h-1 w-24 bg-green-500 mt-2 mb-8 mx-auto;
    }

  }

  h2{
    @apply w-fit;
    @apply text-2xl sm:text-4xl font-bold mb-10 text-left;

    &:after {
      @apply content-[''] block h-1 w-24 bg-green-500 mt-2 mb-8;
    }

  }

  .green-cta {
    @apply w-fit md:w-1/3 text-white py-3 px-6 text-center rounded-sm text-sm font-semibold mt-12 block mx-auto;
    @apply bg-light-green hover:bg-active-green transition-all duration-300;
  }

}