.footer {
    @apply flex flex-col w-full z-10;
    @apply bg-[#353535] text-white font-[100];

    ul{
        li{
            a{
                @apply text-white hover:text-[#289b5b] hover:no-underline transition duration-300;
            }
        }
    }
  
    /* CONTACT ROW */
    .contact-row {
      @apply px-4 py-6 flex justify-start;
      @apply max-w-7xl w-full mx-auto;
      @apply border-b border-[#555555];
  
      .contact-list {
        @apply flex flex-col md:flex-row flex-wrap gap-4 md:gap-8 lg:gap-16 items-start md:items-center;
  
        li {
          @apply flex items-center gap-2;
  
          a {
            @apply flex items-center gap-2;
            @apply font-[200] text-white hover:no-underline hover:text-light-green;

            .icon-circle {
              @apply w-10 h-10 rounded-full flex items-center justify-center transition-all duration-500 ease-out;
              background-color: #289b5b;
    
              svg {
                @apply text-white;
              }
            }
          }

          a:hover{
            .icon-circle{
              transform: rotate3d(0, 1, 0, 360deg);
            }
          }
        }
      }
    }
  
    /* MAIN ROW (3 columns) */
    .main-row {
      @apply flex flex-col md:flex-row p-4 py-6;
      @apply max-w-7xl w-full mx-auto relative;

      background-color: #353535;
      color: #ffffff;

      &::after{
        border-bottom: 1px solid #555555;
        @apply content-[''] bottom-0 absolute block h-[1px] left-0 w-screen;
        @media (min-width: 1280px){
            left: calc( (100vw - 1280px) / 2 * -1 );
        }
      }
  
      .col {
        @apply flex-1 p-2 grow;

        &.about{
            p{
                @apply w-full md:w-3/4;
            }
        }

        &.navItems{
            li{
                a{
                    @apply text-white font-[200] hover:no-underline hover:text-light-green;


                    &::before{
                        @apply content-['■'] inline-block mr-2 text-[#289b5b];
                    }

                    &.active {
                      @apply text-light-green;
                    }
                }
            }
        }

  
        .logo-wrapper {
          @apply mb-2;
        }
  
        p {
          @apply text-sm leading-5;
        }
      }
  
      .nav {
        @apply space-y-1;
  
        li {
          a {
            color: #ffffff;
            @apply inline-flex items-center gap-1;
  
            &:hover {
              @apply underline;
            }
          }
        }
  
        .arrow {
          @apply text-sm; /* Adjust arrow size if desired */
          margin-left: 4px;
        }
      }
    }
  
    /* FOOTER BOTTOM */
    .footer-bottom {
      @apply text-center p-6;
      @apply max-w-7xl w-full mx-auto;

      background-color: #353535;
      color: #ffffff;

      p {
        @apply text-sm;
      }

      .developer-credit {
        @apply mt-6;

        a {
          @apply hover:text-light-green transition duration-300;
        }
      }
    }
  }
  